body {
    margin: 0;
}

@font-face {
    font-family: 'finalFantasy';
    src: url('./finalf.ttf#iefix') format('embedded-opentype'),
    url('./finalf.ttf') format('woff'),
    url('./finalf.ttf') format('truetype'),
    url('./finalf.ttf') format('svg');
}

.header {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: groove lightblue;
}

.header_item button {
    color: white;
    display: block;
    font-size: 30px;
    margin: 1em;
    font-family: "finalFantasy";
    background:none!important;
    border:none;
    padding:0!important;
    /*border is optional*/
    border-bottom:1px solid #444;
    cursor: pointer;
    outline:none;
}

.header_item:hover {
    transform: scale(1.2, 1.2);
}

.image {
    background-image: url("img/ffvi.jpg");
    padding-top: 250px;
    padding-bottom: 250px;
    background-size: 100% 100%;
    display: flex;
    border-bottom: groove black;
}

.description-wrapper {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
}

.description-spacer {
    flex: 1;
}

.description-content {
    flex: 3;
    display: flex;
    flex-direction: row;
}

.description-wrapper p {
    font-family: "Palatino Linotype";
    font-size: 18px;
    flex: 1;
    margin-right: 10px;
}

.description-wrapper iframe {
    flex: 1;
    margin-top: 25px;
    margin-left: 10px;
    height: 250px;
}